body {
    font-family: Helvetica, Arial, sans-serif;
    background: url("https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}

header {
    font-family: "Pacifico";
    text-align: center;
    color: rgba(255, 255, 255, .75);
    padding-top: 30px;
}

button {
    border: none;
    border-radius: 10px;
    padding-bottom: 3px;
    background: #7c7c7c4b;
    color: white;
}

input {
    border: none;
    border-radius: 10px;
    height: 27px;
    margin-right: 5px;
    background: #7c7c7c4b;
    padding: 5px;
    color: white;
}

.card {
    background: #000000d0;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 20px;
    border-radius: 10px;
}